@import url(reset.css);
html{
    height: 100%;
}

body{
    background: rgb(63,94,251);
    background: linear-gradient(354deg, rgb(56, 57, 65) 0%, rgb(209, 144, 157) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock{
    background-color: rgba(0, 0, 0, 0.658);
    width: 25rem;
    height: 25rem;
    border: 1rem solid white;
    border-radius: 50%;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    position: relative;
}

.hand{
    width: 45%;
    height: 6px;
    background: lightgray;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    border-radius: 1rem;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.60, 1);
}
.hour-hand{
    background: rgb(234,235,242);
    background: linear-gradient(270deg, rgba(234,235,242,1) 0%, rgb(6, 1, 10) 100%);
    z-index: 99;
}